*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.home-page-container{
    padding: 20px 8%;
    background-color: #262626;
    min-height:100px;
    max-width:100vw;
}

.home-information-section{
    display: flex;
    align-items: center;
    column-gap:24px
}
.profile-pic-section {
    background-image: url("https://res.cloudinary.com/dx10xo1p6/image/upload/v1710133440/graph_ywgvg5.png");
    background-size: cover;
    background-position: center;
    justify-self:flex-end ;
    display: flex;
    justify-content: center;
    align-items: center;
    height:400px
    
}
.home-profile-img{
    max-width: 80%;
    height: auto;
    margin-left: 16px;
}
.introduction-section{
    width:100%;
}
.third-heading-info{
    color:#ffffff;
    font-family: "roboto";
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
}
.first-heading-info{
    color:#ffffff;
    font-family: "roboto";
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
}
.summary-info{
    font-size: 18px;
    font-weight: 400;
    font-family: "roboto";
    color:#fdfdfd;
    line-height: 1.5;
    margin-top: 32px;
}
.highlight-domain{
    color:#ef1111;
    margin-left: 8px;
}
.download-block{
    margin-top: 32px;
}
.download-link{
    text-decoration: none;
    font-size: 18x;
    color:#ffffff;
    font-weight: 500;
    background-color: #ef1111;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
}
.download-icon{
    margin-left: 8px;
}




@media only screen and (max-width: 600px){
    .home-page-container{
        min-height:100%;
    }
    .home-information-section{
        display: flex;
        flex-direction: column;
    }
    .third-heading-info{
        font-size: 16px;
    }
    .first-heading-info{
        font-size:18px;
    }
    .summary-info{
        font-size: 14px;
    }
    .device-version{
        display: none;
    }
    .download-link{
        font-size: 14px;
    }
    .summary-info{
        margin-top: 0px;
    }
    
}

@media screen and (min-width: 769px){
    .mobile-image-section{
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1120px){
   
    .image-section{
        width:50%;
        overflow-x: hidden;
    }

    .introduction-section{
        width:50%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1017px){
    .third-heading-info{
        font-size: 22px;
    }
    .first-heading-info{
        font-size:24px;
    }
    .summary-info{
        font-size: 16px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .home-page-container{
        min-height:100%;
    }
    .home-information-section{
        display: flex;
        flex-direction: column;
    }
    .third-heading-info{
        font-size: 18px;
    }
    .first-heading-info{
        font-size:20px;
    }
    .summary-info{
        font-size: 15px;
    }
    .device-version{
        display: none;
    }
   
    .device-version{
        display: none;
    }
    .summary-info{
    margin-top:0px;
    }
}


@media screen and (min-width: 300px) and (max-width: 400px){
    .profile-pic-section {
        background-image: url("https://res.cloudinary.com/dx10xo1p6/image/upload/v1710133440/graph_ywgvg5.png");
        background-size:100% auto;
    background-position: center; 
    background-repeat: no-repeat;

    }
    .home-profile-img{
       max-width: 55%;
       height:auto
    }
}
@media screen and (min-width: 400px) and (max-width: 499px){
    .profile-pic-section {
        background-image: url("https://res.cloudinary.com/dx10xo1p6/image/upload/v1710133440/graph_ywgvg5.png");
        background-size:100% auto;
    background-position: center; 
    background-repeat: no-repeat;

    }
    .home-profile-img{
       max-width: 56%;
       height:auto
    }
}
@media only screen and (min-width: 500px) and (max-width: 699px){
    .profile-pic-section {
        background-image: url("https://res.cloudinary.com/dx10xo1p6/image/upload/v1710133440/graph_ywgvg5.png");
        background-size:80% auto;
    background-position: center; 
    background-repeat: no-repeat;

    }
    .home-profile-img{
       max-width: 50%;
       height:auto
    }
}
@media only screen and (min-width: 700px) and (max-width: 768px){
    .profile-pic-section {
        background-image: url("https://res.cloudinary.com/dx10xo1p6/image/upload/v1710133440/graph_ywgvg5.png");
        background-size:74% auto;
    background-position: center; 
    background-repeat: no-repeat;

    }
    .home-profile-img{
       max-width: 46%;
       height:auto
    }
}
@media screen and (min-width: 769px) and (max-width: 1120px){
    .profile-pic-section {
        background-image: url("https://res.cloudinary.com/dx10xo1p6/image/upload/v1710133440/graph_ywgvg5.png");
        background-size:90% auto;
    background-position: center; 
    background-repeat: no-repeat;

    }
    .home-profile-img{
       max-width: 58%;
       height:auto
    }

}
