*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.home-page-container{
    padding: 20px 8%;
    background-color: #262626;
    min-height:100px;
    max-width:100vw;
}

.home-information-section{
    display: flex;
    align-items: center;
    column-gap:24px
}
.profile-pic-section {
    background-image: url("https://res.cloudinary.com/dx10xo1p6/image/upload/v1710133440/graph_ywgvg5.png");
    background-size: cover;
    background-position: center;
    justify-self:flex-end ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-profile-img{
    width:500px;
    height:500px
}
.introduction-section{
    width:100%;
}
.third-heading-info{
    color:#ffffff;
    font-family: "roboto";
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
}
.first-heading-info{
    color:#ffffff;
    font-family: "roboto";
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
}
.summary-info{
    font-size: 18px;
    font-weight: 400;
    font-family: "roboto";
    color:#fdfdfd;
    line-height: 1.5;
    margin-top: 32px;
}
.highlight-domain{
    color:#ef1111;
    margin-left: 8px;
}
.more-about-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 18px;
    margin-top: 42px;
}
.more-btn{
    border:none;
    background-color: transparent;
    background-color: #ef1111;
    font-family: "roboto";
    font-weight: 500;
    font-size: 16px;
    border-radius: 2px;
    color:#ffffff;
    padding:8px 18px 
}
.icon-btn{
    background-color: transparent;
    border:none;
}
.icon{
    width:28px;
    height:28px;
}

@media only screen and (max-width: 600px){
    .home-page-container{
        min-height:100%;
    }
    .home-information-section{
        display: flex;
        flex-direction: column;
    }
    .third-heading-info{
        font-size: 16px;
    }
    .first-heading-info{
        font-size:18px;
    }
    .summary-info{
        font-size: 14px;
    }
    .device-version{
        display: none;
    }
    .profile-pic-section {
        background-image: url("https://res.cloudinary.com/dx10xo1p6/image/upload/v1710133440/graph_ywgvg5.png");
        background-size:90% auto;
    background-position: center; 
    margin-top: 20px;

    }
    .home-profile-img{
       max-width: 80%;
       height:auto
    }
    
}

@media screen and (min-width: 769px){
    .mobile-image-section{
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1120px){
    .home-profile-img {
        max-width: 100%;
        height: auto;   
    }

    .profile-pic-section {
        background-image: url("https://res.cloudinary.com/dx10xo1p6/image/upload/v1710133440/graph_ywgvg5.png");
        background-size: cover;
        background-position: center;
        margin-top: 20px;
        
    }
    .image-section{
        width:50%;
        overflow-x: hidden;
    }
    .introduction-section{
        width:50%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1017px){
    .third-heading-info{
        font-size: 22px;
    }
    .first-heading-info{
        font-size:24px;
    }
    .summary-info{
        font-size: 16px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .home-page-container{
        min-height:100%;
    }
    .home-information-section{
        display: flex;
        flex-direction: column;
    }
    .third-heading-info{
        font-size: 18px;
    }
    .first-heading-info{
        font-size:20px;
    }
    .summary-info{
        font-size: 15px;
    }
    .device-version{
        display: none;
    }
    .profile-pic-section {
        background-image: url("https://res.cloudinary.com/dx10xo1p6/image/upload/v1710133440/graph_ywgvg5.png");
        background-size:80% auto;
    background-position: center; 
    margin-top: 20px;

    }
    .home-profile-img{
       max-width: 75%;
       height:auto
    }
    .device-version{
        display: none;
    }
}