
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.components-container{
  background-color: #ffffff;
  min-height:100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
nav{
  background-color: #262626;
  padding: 20px 8%;
  width:100%;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin-top: 2%;
}
.main-heading-home-page{
  color:#ef1111;
  font-family: "roboto";
  line-height: 1.5;
}
.links-list{
  display: flex;
  align-items: center;
  column-gap: 22px;
}
.nav-item{
  list-style: none;
  font-family: "roboto";
  font-size: 16px;
  font-weight:500;
  color:#ffffff;
  padding-bottom: 2px;
}
.nav-item-btn{
  list-style: none;
  font-family: "roboto";
  font-size: 16px;
  font-weight:500;
  color:#ffffff;
  padding-bottom: 2px;
  cursor: pointer;
}
.contact-button{
  background-color: #ef1111;
  border-radius: none;
  padding: 8px 12px;
  color:#ffffff;
  font-family: "roboto";
  font-weight: 600;
  border:none;
  border-radius: 4px;
  cursor: pointer;
}
a{
  color:#ffffff;
  text-decoration: none;
}

.nav-item:hover{
  border-bottom:3px solid  #ef1111;
  }
  .active:hover{
    border: none;
  }

  @media only screen and (max-width: 480px){
    .tab-version-nav{
      display: none;
    }

    .mobile-version-nav{
      display: flex;
      flex-direction: column;
      padding: 20px 8%;
    }
    .section1-menu{
      display: flex;
      justify-content: space-between;
      width:100%
    }
    .menu-off{
      display: none;
    }
    .menu-on{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 12px;
    }
    .nav-item, .nav-item-btn{
      font-size: 12px;
    }
    .menu-btn{
      background-color: transparent;
      border: none;
      color:#ffffff;
      font-size: 26px;
    }
    .nav-container{
      margin-top: 0%;
    }
    nav{
      width:100%
    }
  }